h1{
    color: cornflowerblue;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:nth-child(odd) {background-color: aliceblue;}
table {
  width: 100%;
}
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#l2{
    background-color:aliceblue;
    width: 50%;
    border: 5%;
    padding:2px;
    border: 1px solid black;
    margin: 3px;
    align-content: center;
    font-size: 20px;
    
}
.lc {
  text-transform: lowercase;
  }
