h1{
    color: cornflowerblue;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:nth-child(odd) {background-color: aliceblue;}
table {
  width: 100%;
}
#l2{
    background-color:aliceblue;
    width: 50%;
    border: 5%;
    padding:2px;
    border: 1px solid black;
    margin: 3px;
    align-content: center;
    
}
.lc {
  text-transform: lowercase;
  }